.home .show-row .show-title {
  font-size: 7em;
  font-weight: bold;
  letter-spacing: -0.02em;
  text-align: center;
}
.home .title-row {
  background-color: rgba(0, 0, 0, 0.1);
}
.home .title-row .song-title {
  font-size: 3em;
  letter-spacing: -0.02em;
  text-align: center;
}
.home .schedule-row {
  margin-bottom: 70px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.home .schedule-row .schedule-item {
  overflow: hidden;
  float: left;
}
.home .schedule-row .schedule-item .inner {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home .schedule-row .schedule-item .inner .schedule-title {
  position: absolute;
  transform: rotate(90deg);
  width: 200px;
  left: -85px;
  top: 95px;
}
.home .next-button-row {
  margin-top: 20px;
  text-align: center;
}
.home .schedule-marker {
  position: absolute;
  margin-top: -70px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home .show-row .show-title {
    font-size: 3em;
  }
  .home .title-row .song-title {
    font-size: 1em;
    padding: 5px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .home .schedule-marker {
    display: none;
  }
  .home .schedule-row {
    display: none;
  }
  .home .schedule-row .schedule-item {
    width: 100%;
  }
  .home .schedule-row .schedule-item .inner .schedule-title {
    transform: rotate(0deg);
    left: inherit;
    top: inherit;
    width: inherit;
  }
}
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
