.home .show-row .show-title {
  font-size: 7em;
  font-weight: bold;
  letter-spacing: -0.02em;
  text-align: center;
}
.home .title-row {
  background-color: rgba(0, 0, 0, 0.1);
}
.home .title-row .song-title {
  font-size: 3em;
  letter-spacing: -0.02em;
  text-align: center;
}
.home .schedule-row {
  margin-bottom: 70px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.home .schedule-row .schedule-item {
  overflow: hidden;
  float: left;
}
.home .schedule-row .schedule-item .inner {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home .schedule-row .schedule-item .inner .schedule-title {
  position: absolute;
  transform: rotate(90deg);
  width: 200px;
  left: -85px;
  top: 95px;
}
.home .next-button-row {
  margin-top: 20px;
  text-align: center;
}
.home .schedule-marker {
  position: absolute;
  margin-top: -70px;
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 479px) {
  .schedule-marker {
    display: none;
  }
  .schedule-row {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  .header-right .main-navigation {
    margin-top: 50px;
  }
  .header-right .main-navigation li {
    margin-bottom: 5px;
  }
  .header-right .main-navigation li a {
    line-height: 1em;
    font-size: 1em;
  }
  .schedule-item .inner .schedule-title {
    font-size: 0.8em;
  }
  .page-header .header-left h2 {
    font-size: 1em;
  }
  .home .show-row .show-title {
    font-size: 3em;
  }
  .home .title-row .song-title {
    font-size: 1em;
    padding: 5px;
  }
  .schedule-marker {
    bottom: 0px;
  }
}
.well {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
